In [2]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv("Day2_2022.txt",header=None,delimiter="\s+")

In [4]:
data

      0  1
0     A  Y
1     B  X
2     C  X
3     A  Z
4     B  Y
...  .. ..
2495  A  Z
2496  B  Y
2497  A  Y
2498  C  X
2499  A  X

[2500 rows x 2 columns]

In [7]:
Dict={'A':{'X':1+3,'Y':2+6,'Z':3+0},
      'B':{'X':1+0,'Y':2+3,'Z':3+6},
      'C':{'X':1+6,'Y':2+0,'Z':3+3}}

In [12]:
Dict[data[0][1]][data[1][1]]

1

In [13]:
len(data)

2500

In [15]:
ans=0
for i in range(len(data)):
    ans+=Dict[data[0][i]][data[1][i]]

In [16]:
ans

13009

In [17]:
#part 2
Dict2={'A':{'X':3+0,'Y':1+3,'Z':2+6},
       'B':{'X':1+0,'Y':2+3,'Z':3+6},
       'C':{'X':2+0,'Y':3+3,'Z':1+6}}

In [18]:
ans2=0
for i in range(len(data)):
    ans2+=Dict2[data[0][i]][data[1][i]]

In [19]:
ans2

10398